.form {
  &__inputWrapper {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;

    height: 120px;

    margin-bottom: 50px;
  }

  &__input {
    height: 54px;
    width: 428px;

    padding-left: 16px;

    border: 1px solid #D0CFCF;
    border-radius: 5px;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

  &__input--date {
    width: 200px;
    padding-right: 16px;
  }
}

.form__button {
  position: absolute;
  right: 0;
  top: 0;

  height: 54px;
  width: 80px;
}