.visible {
  display: block;

  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.calendar {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 90%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button-image {
  height: 25px;
  width: 25px;
}

.button-close {
  position: absolute;
  right: 10px;
  top: 10px;

  background: none;
  border: none;
}